.task-container {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.task-wrapper.selected {
	
	border:2px solid #008F8A;
}

.task-wrapper {
	border:2px solid transparent;
	border-radius: 5px;
	height: 34px;
	background-color: #ECF0F1;
}

.custom-node-wrapper {
	border: solid 2px #CBCBCB;
	border-radius: 4px;
	width:188px;
	padding:2px;
}

.custom-node{
	/* display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
	justify-content: space-between;
	position: relative; */

	display:grid;
	position:relative;
	grid-template-columns: 28px 1fr 28px 22px;
	color:#333695;
	width: 184px;

}

.in-port {
	width:24px;
	height:24px;
	background-image: url(../../assets/icons/type_recipe.svg);
	cursor: pointer;
	margin-left:.125em;
	margin-top:2px;
}

.task-count {
	box-sizing: border-box;
	width: 15px;
	height: 24px;
	border-radius: 4px;
	background: #333695;
	cursor: pointer;
	margin-left:7px;
	margin-top:2px;
	color: #ECF0F1;
	display:flex;
	align-items: center;
	justify-content: center;
}

.out-port{
	box-sizing: border-box;
	width: 15px;
	height: 24px;
	border-radius: 4px;
	background: #333695;
	cursor: pointer;
	margin-left:2px;
	margin-top:2px;
}
.out-port.selected {
	background-color: #ECF0F1;
}

.task-wrapper.task-in-process .out-port {
	background: #ECF0F1;
}

.task-wrapper.task-in-error .out-port {
	background: #CA0000;
}

.task-wrapper.task-success .out-port {
	background: #008F8A;
}

.title {
    font-size: 13px;
    width:100%;
    padding-left:2px;
    text-align:right;
    padding-right:2px;
    line-height: 18px;
    height:22px;
	color: #4f4f4f;
	display: flex;
	align-items: center;
	padding-top:2px;
	text-overflow: ellipsis;
	white-space: nowrap;
  }
  
  .task-container:hover .add-new-task-line {
    display: block;
    margin-left:8px;
    padding-top:5px;
  }

  .add-new-task-line {
    display:none;
  }
  
  .add-task-plus {
    color:#333695;
    cursor: pointer;
  }