.pipeline-editor-container {
    height:100%;
    overflow-y: hidden;
}

.pipeline-editor-wrapper {
    height:100%;
    overflow-y: hidden;
}

.pipeline-editor-wrapper svg {
    fill:#4D4D4F;
}

.pipeline-editor-wrapper-header {
    background: #f2f2f2;
    width:100%;
    height:36px;
}

.pipeline-editor-icon {
    margin-top:6px;
}

.icon-right {
    float:right;
}

.first-icon {
    padding-left:3px;
}