.recipe-editor-header {
    background-color: #f2f2f2;
    height:36px;
    display: flex;
}

.recipe-editor-header svg {
    fill: #4D4D4F;
}

.recipe-editor-header-icon, .recipe-editor-edit-icon {
    padding-top:3px;
    padding-left:3px;
}

.recipe-editor-delete-icon, .recipe-editor-run-icon {
    
    padding-left:20px;
}

.recipe-editor-recipe-name {
    margin-top:6px;
    padding-left:10px;
    font-size:16px;
    display:flex;
    align-items: center;
    color: #4d4d4f;
}

.recipe-editor-recipe-description {
    align-items: center;
    font-size:13px;
    color:#4d4d4f;
    padding-left:11px;
    margin-top: 7px;
    width:50vw;
}

input.recipe-editor-recipe-description {
    margin-left:10px;
    margin-top:3px;
    width:50vw;
    height:24px;
}

.recipe-editor-recipe-description {
    padding-left:11px;
}

.recipe-editor-last-modified {
    margin-left:auto;
    font-size:13px;
    color:#4d4d4f;
    padding-right:16px;
}

.recipe-editor-toolbar-container {
    margin-top:20px;
    margin-left:20px;
    width:254px;
    height:36px;
    border: 1px solid #CBCBCB;
    border-radius: 4px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
}

.recipe-editor-toolbar-container svg {
    fill: #4D4D4F;
}

.recipe-editor-add-task-icon {
    margin-left:10px;
}

button.recipe-editor-new-task-button {
    text-transform: none;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    color: #4D4D4F;
}

.recipe-editor-task-list {
    margin-left:21px;
}

.recipe-editor-task-properties-container {
    display: flex;
    margin-top:45px;
}

.recipe-editor-task-and-data-container {
    display:grid;
    grid-template-columns:1fr auto;
}