aside {
    background-color: #fbfbfb;
    height:calc(100% - 2.5em);
    box-shadow: 2px 0 8px 0 rgba(0, 0, 0, 0.12);
}

aside.open {
    width:10em;
}

aside.close {
    width:2em;
}

.type-type-header-text {
    font-size: 1em;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color:#767676
}

[hidden] {
    display: none;
}