.footer-container {
    width:100%;
    height:2.5em;
    display: flex;
    align-items: center;
    align-self: center;
    background-color: #343e48;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
}

.footer-container span {
    margin: auto;
}