.pipeline-editor {
    border: thin solid #cbcbcb;
	background-color: #acacac;
	height:100%;
}

.canvas-widget {
    height:100%;
}

.custom-node-color{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20px;
	height: 20px;
	transform: translate(-50%, -20%);
	border-radius: 10px;
}



.circle-port:hover{
	background: mediumpurple;
}


.task-link-arrow, .task-link-line {
	fill:#333695;
}

.run-pipeline-button {
	left:2em;
	top:2em;
	z-index: 50;
}