.pipeline-editor-container {
    border: thin solid black;
}

.canvas-widget {
    height:100%;
}

.task-wrapper {
	border: solid 2px gray;
	border-radius: 5px;
	width: 150px;
	height: 50px;
}

.custom-node{
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
	justify-content: space-between;
	position: relative;
}

.custom-node-color{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20px;
	height: 20px;
	transform: translate(-50%, -20%);
	border-radius: 10px;
}

.circle-port{
	width: 12px;
	height: 12px;
	margin: 2px;
	border-radius: 6px;
	background: darkgray;
	cursor: pointer;
}

.circle-port:hover{
	background: mediumpurple;
}

.title {
  font-size: .65em;
  background-color:grey;
  width:100%;
  color:white;
  padding-left:2px;
}