.pipeline-editor-container {
    border: thin solid black;
	background-color: #fbfbfb;
}

.canvas-widget {
    height:100%;
}

.task-wrapper {
	border: solid 2px #333695;
	border-radius: 5px;
	height: 22px;
	background-color: #ECF0F1;
}

.custom-node{
	/* display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
	justify-content: space-between;
	position: relative; */

	display:grid;
	position:relative;
	grid-template-columns: 22px 1fr 22px;
}

.custom-node-color{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20px;
	height: 20px;
	transform: translate(-50%, -20%);
	border-radius: 10px;
}

.in-port {
	width:18px;
	height:18px;
	background-image: url(../diagram/InPort.png);
	cursor: pointer;
	margin-left:.125em;
	margin-top:2px;
}

.in-port:hover {
	background-image: url(../diagram/InPortHover.png);
}

.out-port{
	width: 12px;
	height: 12px;
	margin: 5px;
	border-radius: 6px;
	background: #333695;;
	cursor: pointer;
	margin-left:7px;
}

.circle-port:hover{
	background: mediumpurple;
}

.title {
  font-size: .65em;
  width:100%;
  color:#333695;
  padding-left:2px;
  text-align:right;
  padding-right:2px;
  line-height: 22px;
  height:22px;
}

.task-link-arrow, .task-link-line {
	fill:#333695;
}