.group-by-properties-container {
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    height:200px;
}

.group-by-section-wrapper {
    border: 1px solid #CBCBCB;
    border-radius: 4px;
    width: 360px;
    height: 78px;
    margin-top:20px;
}

.group-by-section-wrapper-label {
    position: relative;
    top:-11px;
    left:11px;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    background-color: white;
}

.group-by-field-label {
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
}

.group-by-optional {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
}