.App {
  height:100vh;
  overflow: scroll;
}

.stripe {
  width:100%;
  height:4px;
  margin:0;
  background-color: #333695;
}

.main-working-container {
  display: grid;
  grid-template-columns: 10em 1fr;
  height:calc(100% - 2.5em);
}

.close-drawer-container {
  display: 'flex';
  align-items: 'center';
  justify-content: flex-end;
}