.task-bubble {
    margin-top:24px;
}
.task-bubble-container {
    width:184px;
    min-height:36px;
    max-height:43px;
    background-color: #ffffff;
    border: 1px solid #CBCBCB;
    border-radius: 4px;
    display:flex;
}

.task-bubble-container-selected-top-edge {
    width:204px;
    height:12px;
    background-color:#333695;
    border-right:#333695 thin solid;
}

.task-bubble-container-not-selected-top-edge {
    width:204px;
    height:12px;
}

.task-bubble-container-selected-bottom-edge {
    width:204px;
    height:12px;
    background-color:#333695;
    border-right:#333695 thin solid;
}

.task-bubble-container-not-selected-bottom-edge {
    width:204px;
    height:12px;
}

.task-bubble-container-selected-top-edge-intersection {
    width:100%;
    height:100%;
    background-color: #ffffff;
    border-bottom-right-radius: 24px;
}

.task-bubble-container-selected-bottom-edge-intersection {
    width:100%;
    height:100%;
    background-color: #ffffff;
    border-top-right-radius: 24px;
}

.task-bubble-container.task-bubble-selected {
    width:204px;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    border-right: none;
}

.task-type-icon {
    margin-top:7px;
}
.test-run-icon, .running-icon {
    fill:#ffffff;
    margin-left:auto;
    margin-right:20px;
    margin-top:auto;
    margin-bottom:auto;
}


svg.task-type-icon {
    fill:#4D4D4F;
}

.task-bubble-selected svg.task-type-icon {
    fill:#ffffff;
}

.task-bubble-task-name {
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    color: #4D4D4F;
    margin-top:7px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100px;
}

.task-bubble-selected .task-bubble-task-name {
    color:#ECF0F1;
}

.task-bubble-not-selected .task-bubble-status {
    margin-left:auto;
}

.task-bubble-container.task-bubble-selected {
    background-color: #333695;
    color:#ECF0F1;
    border-top: none;
    border-bottom: none;
}

.task-bubble-selected .task-bubble-status {
    margin-left:10px;
}

.task-bubble-status {
    width: 6px;
    height: 24px;
    border-radius: 4px;
    margin-right:6px;
    margin-top:auto;
    margin-bottom:auto;
}

.task-bubble-error .task-bubble-status {
    background-color: #CA0000;
}

.task-bubble-success .task-bubble-status {
    background: #333695;
}

.task-bubble-not-configured .task-bubble-status {
    background-color: #008F8A;;   
}

.task-bubble-type-icon {
    margin-top:auto;
    margin-bottom:auto;
    margin-right:5px;
}

.task-bubble-not-selected .task-bubble-type-icon {
    margin-left:5px;
}